body {
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e7e4d3;
    color:#669999;
   
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#input, #directions, #moves {
    flex-basis: 0;
    flex-grow: 1;
}

#moves {
    font-size: 35px;
}

main {
    display:flex;
    border:1px solid black;
    height: 300px;
}

.rod {
    width: 33.3%;
    display:flex;
    flex-direction:column-reverse;
    /* border:1px solid  #999999; */
    align-items:center;
    background-image: url('images.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}

.disk {
    height:35px;
    border-radius: 8px;
    border: 1px solid #003333;
}

#win {
    margin-top: 30px;
}
#results{
    border: 1px solid #003333;
    height: 400px;
    width: 18%;
}
#reset{
    margin-top:30px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    color:#669999;
    margin-left:90%;
    background-color: #e7e4d3;
    border: 1px solid black;
}
#directions{
    margin-left: 100px;
    font-size: 25px;
}
h1{
    color: #003333;
    text-decoration: underline;
    font-size: 50px;
}